 :root {
  --bg: #ffffff;
  --tit: #ff0062;
  --text: #222222;
  --accent: #2b6cb0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  margin: 0;
  background: var(--bg);
  color: var(--text);
  line-height: 1.5;
}

/*
.hero {
  background: #f2f4f8;
  padding: 40px 20px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
*/

.hero {
    background-image: url("assets/header-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding: 60px 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    color: var(--text);

    position: relative;
    overflow: hidden;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.15); /* capa oscura transparente */
    z-index: 1;
}

.hero * {
    position: relative;
    z-index: 2;
}

/*
.hero-title {
    background: rgba(255,255,255, 0.85);
    color: #222;
    padding: 6px 12px;

    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

*/

.hero-title {
    position: relative;
    display: inline-block;
    z-index: 2;
}

.hero-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 100%;
    height: 1.15em;
    background: rgba(255, 255, 255, 1);
    z-index: -1;
}



@media (max-width: 640px) {
    .hero {
        padding: 36px 16px;
        background-position: center top;
    }
}




.subtitle {
  color: #666;
  margin-bottom: 20px;

  position: relative;
  z-index: 2;
  display: block;

  margin-top: 10px;
  margin-bottom: 20px;
}

.subtitle span {
    position: relative;
    display: inline-block;
    z-index: 2;
}



.subtitle span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 100%;
    height: 1.15em;
    background: rgba(255, 255, 255, 1);
    z-index: -1;
}


nav a {
  margin: 0 10px;
  color: var(--accent);
  text-decoration: none;
  font-weight: 500;
}


.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

section h2 {
  margin-top: 0;
}

.footer {
  text-align: center;
  padding: 20px;
  color: #777;
  border-top: 1px solid #ddd;
}

