 :root {
  --bg: #ffffff;
  --text: #222222;
  --accent: #2b6cb0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  margin: 0;
  background: var(--bg);
  color: var(--text);
  line-height: 1.5;
}

/*
.hero {
  background: #f2f4f8;
  padding: 40px 20px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
*/

.hero {
    background-image: url("assets/header-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding: 60px 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    color: white;
}


.subtitle {
  color: #666;
  margin-bottom: 20px;
}

nav a {
  margin: 0 10px;
  color: var(--accent);
  text-decoration: none;
  font-weight: 500;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

section h2 {
  margin-top: 0;
}

.footer {
  text-align: center;
  padding: 20px;
  color: #777;
  border-top: 1px solid #ddd;
}

